.text_center{ text-align:center;}
.font_fff{ color: #fff;}
.font_8E8E8E{ color:#8E8E8E;}
.green{ color:#B0F32D;}
.orange{ color:#FDA53C;}
.padding_10{ padding:10px;}
.padding_l_r_10{padding: 0 11px;}
.padding_15{ padding:15px;}
.padding_20{ padding:20px;}
.line{ height:0; font-size:0px; line-height:0px; border-bottom:1px dashed #E4E4E4; margin:10px 0;}
.f_left{ float:left;}
.f_right{ float:right;}
.width_45{ width:50%;}
.line_height30{ line-height:30px;}
.line_height80{ line-height:80px;}
.display_block{ display:block;}
.width_100{ width:100%}
.margin_1eft_10{ margin-left:10px;}
.margin_1eft_50{ margin-left:50px;}
.margin_bottom_10{ margin-bottom:20px;}
