<?xml version="1.0" encoding="UTF-8"?>

	<!-- org/apache/log4j/xml/log4j.dtd -->
<!DOCTYPE log4j:configuration  SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
<!-- 
	<appender name="AUTO" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/auto.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>
-->
	<appender name="DAO" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/waslog/pboss4crm/log/pboss4crm_log/dao.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>

	<appender name="BUSINESS" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/waslog/pboss4crm/log/pboss4crm_log/business.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>
	
<!--  
	<appender name="XMLDISPATCH" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/xmldispatch.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>
-->	
	<appender name="UTILS" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="/waslog/pboss4crm/log/pboss4crm_log/utils.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM-dd HH:mm:ss} - %m%n" />
		</layout>
	</appender>
<!-- 
	<category name="net.gmcc.pboss.common.control">
		<priority value="INFO" />
		<appender-ref ref="AUTO" />
	</category>
-->
	<category name="net.gmcc.pboss.common.dao">
		<priority value="INFO" />
		<appender-ref ref="DAO" />
	</category>

	<category name="net.gmcc.pboss.domain.business">
		<priority value="INFO" />
		<appender-ref ref="BUSINESS" />
	</category>
<!-- 	
	<category name="net.gmcc.pboss.domain.additional.xmldispatch">
		<priority value="INFO" />
		<appender-ref ref="XMLDISPATCH" />
	</category>
-->	
	<category name="net.gmcc.pboss.utils">
		<priority value="INFO" />
		<appender-ref ref="UTILS" />
	</category>

	<root>
		<priority value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>