 
/*=====================================================*/
/*                     ºá¡¢ÊúË®Æ½Î»ÖÃ                  */
/*=====================================================*/
.common_top {
	vertical-align:top;
}
.common_bottom {
	vertical-align:bottom;
}
.common_middle {
	vertical-align:middle;
}
.common_left {
	text-align:left;
}
.common_right {
	text-align:right;
}
.common_center {
	text-align:center;
}







