<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.pool_size">5</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">com.sunrise.jop.common.spring.JopSessionContext</property>
		

		<mapping resource="com/gmcc/pboss/business/base/sysparam/Sysparam.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/resimport/Resimport.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/compack/Compack.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/compacklog/Compacklog.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/comcategoryrela/Comcategoryrela.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/comrescard/Comrescard.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/comrescardlog/Comrescardlog.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/comressmp/Comressmp.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/comressmplog/Comressmplog.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/emptysim/Emptysim.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/emptysimlog/Emptysimlog.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/numsortrule/Numsortrule.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/numtypedef/Numtypedef.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/resource/numtyperule/Numtyperule.hbm.xml" />

		<!-- 商圈管理 -->
		<mapping resource="com/gmcc/pboss/business/channel/waybusicircle/Waybusicircle.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/channel/waybusicirclelog/Waybusicirclelog.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/channel/busicircle/Busicircle.hbm.xml" />
		<mapping resource="com/gmcc/pboss/business/channel/busicirclelog/Busicirclelog.hbm.xml" />

	</session-factory>
</hibernate-configuration>
