body {
	text-align:center;
	font-size:12px;
	color:#000;
	margin:0px;
} 
.webhead {
	width:1002px;
	margin:0px auto 0px auto;border:#000 solid 0px;
	background:#fff url(/images/webhead_background.jpg) repeat-x;
	height:56px;
}
.logo {
	float:left;width:183px;height:56px;
}
.webhead_menu {
	float:right;width:800px;border:#000 solid 0px;
	padding-top:20px;
}
.webbanner {
	width:1002px;height:155px;
	background:url(/images/webbanner.jpg) no-repeat;
	margin:0px auto 0px auto;border:#000 solid 0px;
}
.webbody {
	width:1002px;height:auto;
	margin:auto;
	background:#1B4764 url(/images/webbodybackground.jpg) repeat-y;text-align:center;
}
.webbodyhead {
	width:1002px;height:20px;
	background:#1B4764;
	margin:0px auto 0px auto;
	background:#1B4764 url(/images/webbodyheadbackground.jpg) no-repeat center 8px;
}
.webbodyfoot {
	width:1002px;height:20px;
	background:#1B4764;
	margin:0px auto 0px auto;border:#fff solid 0px;
	background:#1B4764 url(/images/webbodyfootbackground.jpg) no-repeat center top;
}
.webfoot {
	width:1002px;
	background:#EBEBEB;
	margin:0px auto 0px auto;
	font-weight:900;
	color:#545454;
	text-align:center;
	padding:16px 0px 16px 0px;
}
/*----------------------------------------------------------*/
.Indexuser {
	width:370px;height:238px;border:#000 solid 0px;
	background:url(/images/Indexuser.jpg) no-repeat;
	margin:0px auto 10px auto;
}
.Indexbulletin {
	width:550px;height:238px;border:#000 solid 0px;
	margin:8px 20px 10px 0px;
	background:url(/images/Indexbulletin.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.Indexknowledge {
	width:370px;height:238px;border:#000 solid 0px;
	margin:10px auto 10px auto;
	background:url(/images/Indexknowledge_content.jpg) no-repeat right bottom;
}
.Indexpro {
	width:550px;height:238px;border:#000 solid 0px;
	margin:8px 0px 10px 0px;
	background:url(/images/Indexpro.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.help {
	width:866px;height:160px;border:#000 solid 0px;
	margin:0px auto 10px auto;
	background:url(/images/help.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.IndexTop {
	height:500px;width:1002px; margin:0px auto 0px auto;
}
.IndexLeft {
	float:left;width:415px;border:#000 solid 0px;
}
.IndexRight {
	float:right;width:580px;border:#000 solid 0px;
}
.Indexuser_img {
	float:left;margin:40px 10px 10px 20px;
}
.Indexuser_list {
	float:left;border:#000 solid 0px;padding-top:40px;
}
.Indexuser_title {
	background:url(/images/Indexuser_title.jpg) no-repeat;
	font-size:14px;color:#1B4764;border:#000 solid 0px;
	height:30px;text-align:left;
	padding-left:30px;padding-top:8px;
}
.Indexuser_content {
	color:#fff;
	padding:4px 0px 0px 0px;text-align:left;height:20px;border:#000 solid 0px;
}
.Indexuser_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 10px;
	margin-left: 40px;
	
}
.Indexknowledge_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#6BCE30;font-weight:900;text-align:left;padding-top:3px;
	border-bottom:#D5D5D5 solid 1px;
	margin:10px auto 0px auto;
	height:24px;
}
.Indexknowledge_title span{
	float:left;
}
.Indexknowledge_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-right:30px;
}
.Indexknowledge_content li {
	margin:10px 2px 10px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 1px;
}
.Indexknowledge_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}


.Indexbulletin_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:3px;
	border:#C7CCE9 solid 0px;
	margin:10px 10px 0px 10px;
	height:24px;
}
.Indexbulletin_title span{
	float:left;
}
.Indexbulletin_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-left:170px;
}
.Indexbulletin_content li {
	margin:13px 2px 13px 2px;color:#FFFFFF;
	list-style:url("/images/point.gif") outside none;
	border-bottom:#A9A9A9 dashed 0px;
}
.Indexbulletin_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}



.Indexpro_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:3px;
	border:#C7CCE9 solid 0px;
	margin:10px 10px 0px 10px;
	height:24px;
}
.Indexpro_title span{
	float:left;
}
/*
.Indexpro_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-left:20px;border:#000 solid 0px;
}
*/
.Indexpro li {
	margin:13px 2px 13px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 0px;
	list-style:url("/images/point.gif") outside none;
}
.Indexpro_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}


.help_title {
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:25px;
	border:#C7CCE9 solid 0px;
	margin:10px 30px 0px 30px;
	height:24px;
}
.help_title span{
	float:left;
}
.help_content {
	maigin:0px auto 0px auto;
	text-align:left;padding-left:190px;border:#000 solid 0px;padding-top:0px;
}
.help li {
	margin:13px 2px 13px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 0px;
}
.help_content span {
	color:#000000;font-size:12px;font-weight:100;padding-left:10px;
}

/*--------------------------------------------------------*/
.listleft {
	float:left;width:250px;height:auto;text-align:right;
}
.listright {
	margin:0px 0px 0px 250px;border:#000 solid 0px;height:auto;text-align:left;width:740px;
	padding-left:20px;border-left:#D2D2D2 solid 1px;padding-bottom:120px;
}
.listuser {
	width:230px; height:101px;
	background:url(/images/listuser.jpg) no-repeat;border:#000 solid 0px;
	margin:0px 0px 0px auto;
	text-align:left;
}
.listuser_title {
	width:100%;padding-left:100px;border:#000 solid 0px;
	padding-bottom:5px;color:#FFF;padding-top:10px;font-size:14px;font-weight:900;
}
.listuser_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-left: 70px;
}
.listuser_content {
	width:100%;padding-left:80px;
	padding-top:2px; padding-bottom:2px;color:#fff;
}
.listmyposition {
	width:100%;
	height:30px;
}

positionpoint.listmyposition img {
	margin:0px 10px 0px 0px;
}
.listboxtitle {
	width:100%;
	font-size: 12px;
	font-weight: bold;
	color: #0073c8;
	background-image: url(/images/img/titlebj.gif);
	height: 25px !important;
	height: 30px;
	padding-top: 5px;
	margin-top: 5px;
	padding-left: 8px;
}
.listboxform {
	margin:10px 0px 10px 0px;
}
.listboxform table{
	text-align: left;
}

.listboxform table tr td {
	border: 1px solid #bcd2e9;
	padding:4px;
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
}
.listboxform .input_label{
	text-align:center;
}

.listboxlist {
	padding:0px;
}
.listmenu {
	text-align:left;border:#f00 solid 0px;padding-left:40px;
	background:url(/images/stmyname.jpg) no-repeat center top;
}
.listmenu_title {
	width:171px;border:#000 solid 0px;
	color:#ffffff;font-size:13px;margin:0px auto 0px auto;
	padding-top:15px; padding-bottom:13px;text-align:left;padding-left:24px;
}
/*-------------------------------------------------*/
.messageshow {
	font-size:12px;padding-top:10px;padding-bottom:10px;
}
.messageshow ul {
	padding-left:30px;
}
.messageshow li {
	padding-top:3px;padding-bottom:3px;
}
.messageshowbutton {
	text-align:left;padding-top:10px;padding-bottom:5px;border-top:#ECEAEA solid 1px;margin-right:20px;text-align:right;
}
.openwindow {
	width:100%;border:#FFFFFF solid 1px; text-align:left;padding-left:20px;
}
.abwindow {
	position:absolute;width:450px; height:400px;z-index:100;
	border:#CCCCCC solid 1px;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color=D7D7D7, Positive=true); 
}
.scanbody {

	width:1002px;height:auto;
	margin:auto;padding-bottom:20px;text-align:center;
}
.scantitle {
	border:#000 solid 0px;
	font-size:14px;
	color:#0073C8;
	font-weight:900;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	background-image: url(/images/positionpoint.jpg);
	background-repeat: no-repeat;
	background-position: 8px;
	text-align: left;
}
.scanpointbj{
	background-image: url(/images/scanbj.gif);
	background-repeat: repeat-x;
	height: 26px;
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	list-style-position: inside;
	list-style-image: url(bdian.gif);
}
.scanpoint{
	background-image: url(/images/scanpoint.gif);
	background-repeat: no-repeat;
	float: left;
	height: 21px;
	width: 26px;
	list-style-type: none;
}
.scantitlename {
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #18427c;
	float: left;
	list-style-type: none;
	list-style-position: inside;
	line-height: 23px;
	margin-top: 3px;
	margin-left: 4px;
}
.scan_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 10px;
	margin-left: 40px;
	
}.registrytitle {
	text-align: left;
	font-weight: bold;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
}
.areatitlebackground{
	background-image: url(/images/scanbj.gif);
	background-repeat: repeat-x;
	height: 26px;
	font-family: "宋体";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	list-style-position: inside;
	list-style-image: url(bdian.gif);width:96%;margin-top:4px;
}body {
	margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
	padding: 0;
	background-image: url(/images/img/headerbj.jpg);
	background-repeat: repeat-x;
	background-position: top;
	width: 100%;
}
.divspan {
	width:910px;
	position:relative;
	clear:both;
	margin:0 auto 0 auto;
}
.module {
	height: 290px;
	width: 275px;
	float: left;
	margin-right: 12px;
	border: 1px solid #c2dbe2;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/*退出区域样式*/

.heade{
	padding-top: 5px;
	font-size: 12px;
}
.heade div {
	margin-right: 20px;
	float: right;
}
/*退出样式*/
.quitbotton {
	background-image: url(/images/img/quit.gif);
	background-repeat: no-repeat;
	height: 15px;
	width: 52px;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	padding-top: 2px;
	text-align: center;
}
/*Head 菜单*/
#con {
	height: 20px;
	width: 910px;
	left:0;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

#con ul {
	padding: 0px;
		margin: 0px;
	float:left;
	width:100%;
}
#con li {
	list-style-type: none;
	float: left;
	padding: 0px;
}
#con li a {
	display: block;
	text-decoration: none;
	line-height: 28px;
	margin: 0px;
	padding: 0px;
}
.tagContent {
	text-align:center;
	_padding-left:25px;
	padding-right: 25px;
	padding-bottom: 0;
	padding-left: 25px;
	font-size: 12px;
	clear: both;
	vertical-align: middle;
}
.sub {
	font-size: 12px;
	list-style-position: outside;
	list-style-type: circle;
}
.sub li {
	color:#0574ac;
	font-size: 12px;
	font-weight: normal;
	list-style-position: outside;
	list-style-type: circle;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	}
.sub li a {
	padding:0 18px;
	font-size: 12px;
	font-weight: normal;
	color: #0574ac;
	list-style-type: circle;
}
.tagContent div {
	display: none;
	text-align: center;
}
.selectedTag {
	background-position: left top;
	text-align: center;
}
.selectedTag a {
	color:#000;
	background-image: url(/images/img/on.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height: 33px;
	width: 103px;
	text-align: center;
}
.normalTag {
	font-size: 12px;
	font-weight: bold;
	color: #000;
	background-position: center bottom;
	text-align: center;
}
.normalTag a {
	color:#FFF;
	font-size: 12px;
	background-image: url(/images/img/off.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 33px;
	width: 103px;
	text-align: center;
}
.emptyTag {
	width:20px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}
/**Head 菜单 结束*/
/** 左边菜单选择区 */
.framecontent {
	margin: 8px;
}
.framecontent table{
	border-collapse:inherit;
}
.framecontent table td{
	padding:4px;
	padding-right:0px;
}
.frameline {
	border: 1px solid #c2dbe2;
}
.framesubnavbj {
	background-image: url(/images/img/subnavbj.gif);
	background-repeat: repeat-x;
	height: 29px;
	width: 100%;
}
.frametitle {
	font-size: 12px;
	font-weight: bold;
	color: #006093;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.sub_frametitle  {/*菜单区二级菜单名*/
	font-size: 12px;
	font-weight: normal;
	color: #000;
	background-image: url(/images/img/list4bj.gif);
	background-repeat: no-repeat;
	height: 38px;
	padding-top: 16px;
	padding-left: 38px;
	text-align: left;
}

.sub_framelist2 {/*二级菜单名*/
	font-size: 12px;
	font-weight: normal;
	color: #0873ab;
	margin-left: 16px;
	text-indent: 10;
	background-repeat: no-repeat;
	list-style-position: outside;
	list-style-type: circle;
	line-height: 24px;
	text-align: left;
	width: 150px;
}

/** 左边菜单区结束*/
/**底部样式*/
.bottomtitle {
	padding-top:5px;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}
/*超链接样式*/
a.a1:link,a.a1:visited{
	color:#000;
	text-decoration:none;
} 
a.a1:hover,a.a1:active{
	color:#FF0608;
	text-decoration:none;
} 
a.a2:link,a.a2:visited{
	color:#666;
	text-decoration:none;
} 
a.a2:hover,a.a2:active{
	color:#FF5E01;
	text-decoration:none;
} 
a.a3:link,a.a3:visited{
	color:#FF5E01;
	text-decoration:underline;
} 
a.a3:hover,a.a3:active{
	color:#999;
	text-decoration:underline;
} 
a.a4:link,a.a4:visited{
	color:#005AA2;
	text-decoration:none;
} 
a.a4:hover,a.a4:active{
	color:#FF5E01;
	text-decoration:none;
} 
a.a5:link,a.a5:visited{
	color:#FFF;
	text-decoration:none;
} 
a.a5:hover,a.a5:active{
	color:#F60;
	text-decoration:none;
} 
a.a6:link,a.a6:visited{
	color:#0873AB;
	text-decoration:none;
} 
a.a6:hover,a.a6:active{
	color:#F60;
	text-decoration:none;
} 
a.a6_on:link,a.a6_on:visited{
	color:#F60;
	text-decoration:none;
} 
a.a6_on:hover,a.a6_on:active{
	color:#F60;
	text-decoration:none;
} 

.flaotLeft {
	float:left;
}
.flaotRight {
	float:right;
}
.paddingBtn {
	margin-bottom:10px;
}
.paddingTop {
	padding-top:10px;
}
.menu{
	width: 188px;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 12px;
	
}
.context {
	float: left;
	width: 700px !important;
	width: 710px;
	margin: 0px;
	margin-right: 0px !important;
	margin-right: -10px;
	padding: 0px;
	text-align:left;
}
.frameMain{
	float: left;
	width: 690px;
	margin: 0px;
	padding: 0px;
}
/*三级菜单*/
.menw3table {
	color: #0873ab;
	width: 180px;
	border: 1px solid #77a0ab;
	background-color: #edfbfe;
	z-index:1;
	position: absolute;
	left: 0px;
	top: 0px;
	display:none;
}
.menw3table td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #77a0ab;
	list-style-type: none;
	text-align:left;
	padding:5px;
	padding-left:20px;
}
.menw3table a:link,.menw3table a:visited{
	text-decoration:none;
	color: #0873ab;
} 
.menw3table a:hover,.menw3table a:active{
	text-decoration:none;
	color: #F30;
} 


/*font color*/

.font_white {
	color: #FFF;
}
.font_red {
	color: #F60;
}
.font_lightBlue {
	color: #0873ab;
}

.font_orange {
	color: #ff8400;
}

/*location 浅蓝加粗效果*/
.font_breadcrumbtitle {
	font-size: 12px;
	font-weight: bold;
	color: #0065cc;
	float: left;
	padding-top: 6px;
	padding-right: 10px;
}

.font_breadcrumb {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	float: left;
	padding-top: 6px;
}


.subTitle {
	font-size: 12px;
	font-weight: bold;
	color: #0073c8;
	height: 25px;
	padding-top: 5px;
	padding-left: 8px;
	text-align: left;
}

.tableTitle {
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
	text-indent: 15px;
}

.tableMark {
	font-size: 12px;
	font-weight: normal;
	color: #ff8400;
}
/**酬金报表*/
.divTitleName{
	width:100px;
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
	text-indent: 15px;
	float:left;
}

/**酬金报表*/
.divBBCTitleName{
	width:180px;
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
	text-indent: 15px;
	float:left;
}
.divTitleSpan{
	width:10px;
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
	float:left;
	text-align:center;
}

.divTitleContext{
	width:180px;
	font-size: 12px;
	float:left;
	text-align:center;
	color: #628bb1;
}@CHARSET "GBK";

/* 初始化样式
=========================================================================
textarea,th, td,button{ margin:0; padding:0; }
table{ border-collapse:collapse;}
th, td,button{font-size:12px;}
button{ vertical-align:middle;  }
input,button{ cursor:pointer}
 */
h1, h2, h3, h4, h5, h6, input, textarea,th, td,button,iframe { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6,th, td,button,select,input,textarea{font-size:12px;}
table{ border-collapse:collapse;}
button{ vertical-align:middle;  }
a,input,textarea,button{ cursor:pointer}
a{ color:#4B4B4B; text-decoration:none}
image{cursor:hand;}
a:hover{ text-decoration:underline}
/* 浮动和隐藏样式 相对定位钩子
========================================================================== */
.hide{ display:none}
.fl{ float:left}
.fr{ float:right} 
.o_hidden{ overflow:hidden}
.posit{ position:relative;}
/* 头部样式
========================================================================== */
.header{margin-bottom:1em}
.headerswf{ margin-bottom:5px;}
.gmcclogo{ width:135px; height:54px; overflow:hidden;}
.bar{ width:783px; position:relative; }
.bar_left{ width:418px; white-space:nowrap; overflow:hidden;text-align:right; padding:3px 5px 0 0;color:#759BBA; }
.bar_right{ width:360px; overflow:hidden}
/* 头部-快捷入口
========================================================================== */
.bar_right a{ float:left; margin-right:4px; background:url(/images/imgSprite_02.gif) no-repeat}
.bar_right a.cn_en,.bar_right a.cn_en_02{ width:66px; height:17px; margin-right:0;background:url(/images/imgSprite.gif) no-repeat -128px -64px;text-indent:-999em; overflow:hidden; }
.bar_right a.cn_en_02{background:url(/images/imgSprite.gif) no-repeat -196px -64px; float:right}
.bar_right a span{ float:left;height:17px; line-height:17px; padding:0 10px; color:#555;background:url(/images/imgSprite_03.gif) no-repeat right 0; cursor:pointer}
.bar_right a:hover{ text-decoration:none}
/*文字样式
===========================================================================*/
.red_01{ color:#FF5900;}
.green{ color:#029C00;}
.blue_01{ color:#628BB1;}
/* 文字对齐样式
===========================================================================*/
.textLeft{ text-align:left}
.textRight{ text-align:right}
.textCenter{ text-align:center}


/* 温馨提醒
====================================================== */
.column{ clear:both;margin-bottom:1em;}   
.column h2{ padding:0 0.5em 0 1em; 
height:24px; line-height:24px; 
background:#EEF6FB; color:#0167B2; 
border-bottom:1px solid #AABDD1}                     
.reminder{ margin:1em 1.5em 0; line-height:0.8em; }
/* 下拉框样式 color: #666666;
===========================================================================*/
.select_L {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 40px;
	font-size: 12px;
	font-weight: normal;
}
.select_2L {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 80px;
	font-size: 12px;
	font-weight: normal;
}
.select_3L {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 120px;
	font-size: 12px;
	font-weight: normal;
}
.select_4L {
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 200px;
	font-size: 12px;
	font-weight: normal;
}

/* 输入框样式
====================================================== */
.text_01,.text_02,.text_01_02,.text_02_02{ width:125px; padding:1px 3px;border:1px solid #C1D1D9}
.text_02,.text_02_02{ width:250px;}
select.text_01{ width:136px; padding:0}
.textarea_00{padding:3px 0 3px 3px;border:1px solid #C1D1D9}
.textarea_01,.textarea_01_02{ width:405px; height:80px; padding:3px 0 3px 3px;border:1px solid #C1D1D9}
.text_01_02,.text_02_02,.textarea_01_02{ border:1px solid #41B7EC; background:#EDF9FF}

/* 公用按钮样式
=========================================================================== */
.btn_blue,.btn_blue_75,.btn_blue_02,.btn_blue_75_02,a.btn_blue_02,a.btn_blue_75_02,a.btn_blue,a.btn_blue_75{ 
border:1px solid #0EA2F3;height:21px;
line-height:19px;text-align:center;
color:#333;background:#fff url(/images/bg_btn_blue.gif) repeat-x 0 0; }
.btn_blue_75,.btn_blue_75_02{ width:50px;}
.btn_blue_02,.btn_blue_75_02{ background-position:0 -23px; }
a.btn_blue:hover,a.btn_blue_75:hover,a.btn_blue_02:hover,a.btn_blue_75_02:hover{background-position:0 -22px; text-decoration:none}
a.btn_blue,a.btn_blue_75,a.btn_blue_02,a.btn_blue_75_02{ float:left; display:inline; margin-top:-6px; font-size:12px;}
/* 公用表格样式
=========================================================================== */
.tb02 tr td{ border:1px solid #bcd2e9; line-height:24px; padding:3px 5px}
.tb03 tr td{ border:0px solid #bcd2e9; line-height:24px; padding:3px 5px}

.tb_comn tr td{
	border:1px solid #bcd2e9; 
	color:#666;line-height:24px;
	padding:0 5px;
	text-align:center;
}
.tb_comn thead tr td{ 
	border:1px solid #bcd2e9;
	background:#D6EFFD; 
	color:#427BA6; 
	text-align:center
}
.tb_comn td.td_03{
	border:1px solid #bcd2e9;
	background:#9BD4F4;
	font-weight:bold;
}

/*自定样式 表格效果
=========================================================================== */
.desc{ background:#D6EFFD;}

/*
翻页表格
*/
.page_table {
	width:100%;
	font-size:12px;
	color:#000;
	margin-top:5px;border:#000 solid 0px;
}
.page_table tr {
	height:20px;
}
.page_table td {
	padding-top:0px;
	padding-bottom:0px;
	height:25px;
}
/*注册页面统一控制*/
.registryable {
	font-size: 12px;
	font-weight: normal;
	list-style-type: none;
	list-style-position: inside;
	padding: 0px;
	width: 95%;
	line-height: 25px;
	text-align:left;
}
/**公告表标题*/
.advTitle{
	font-size: 12px;
	line-height: 18px;
	padding: 5px;
}/**
 * weebox.css
 *
 * @category   javascript
 * @package    jquery
 * @author     Jack <xiejinci@gmail.com>
 * @version    
 */
 
.dialog-loading {background:url(/css/wee/img/common_loading.gif) no-repeat center; width:100%; height:100%}
.dialog-mask{border:0px; background:#000; margin:0px; padding:0px; position:absolute; top:0px; left:0px;background:url(/css/wee/img/dialog_bg.png); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee/img/dialog_bg.png"); _background:none;}
.dialog-button{clear: both;}
.dialog-button input{overflow:visible; overflow-y:hidden;}
.dialog-btn1,.dialog-ok{border:1px solid #33621D; background:url(/css/wee/img/common_btn_ok.gif) top #88B674; height:24px; line-height:24px; color:#fff;cursor:pointer; padding:0px;padding-left:5px; padding-right:5px; margin:0px;}
.dialog-btn2,.dialog-cancel{border:1px solid #999; background:url(/css/wee/img/common_btn_cancel.gif) top;height:24px; line-height:24px; color:#666;cursor:pointer;padding:0px;padding-left:5px; padding-right:5px; margin:0px;}
.dialog-btn1,.dialog-btn2{margin-right:10px}
.dialog-content{text-align:left; clear:both; overflow:auto;}

.dialog-box {background:#fff; width:300px;}
.dialog-box .dialog-header {padding:3px 6px 7px; height:14px; cursor:move;}
.dialog-box .dialog-title {float:left; text-align:left; font-size:14px; font-weight:bold; }
.dialog-box .dialog-close {float:right;	cursor:pointer;	margin:3px 3px 0 0;	height:11px; width:11px; background:url(/css/wee/img/close.gif) no-repeat;}
.dialog-box .dialog-content {clear:both; margin:0px; padding:6px; color:#666666; font-size:13px; overflow-y:auto;}
.dialog-box .dialog-button {clear:both; border-top: 1px solid #4f6d81; text-align:center; margin:0px; padding-top:5px;}

.alertbox {border:1px solid #4f6d81;}
.alertbox .dialog-content {background:#fff;}
.alertbox .dialog-header {background:url(/css/wee/img/p_hd.gif) repeat-x; color:#355468;}


.errorbox {border:1px solid #924949;}
.errorbox .dialog-content {background:#fff;}
.errorbox .dialog-header {background:url(/css/wee/img/e_hd.gif) repeat-x; color:#6f2c2c;}


.successbox {border:1px solid #60a174;}
.successbox .dialog-content {background:#fff;}
.successbox .dialog-header {background:url(/css/wee/img/s_hd.gif) repeat-x; color:#3c7f51;}

.dialogbox {border:1px solid #4f6d81;}
.dialogbox .dialog-content {background:#fff;}
.dialogbox .dialog-header {background:url(/css/wee/img/p_hd.gif) repeat-x; color:#355468;}

/*
.weedialog{width:300px; color:#444;}
.weedialog a:link,weedialog a:visited {color: #005EAC; text-decoration:none;}
.weedialog a:hover {color:#ff6600; text-decoration:underline;}

.weedialog .dialog-header{height:40px; position:relative; cursor:move;}
.weedialog .dialog-tc{margin-left:11px; margin-right:11px; width:auto; height:40px;font-weight:bold;}
.weedialog .dialog-tc2{height:34px; line-height:34px; font-size:14px; width:100%; clear:both;background:url(/css/wee/img/dialog_tc2.gif) top; text-align:left;}
.weedialog .dialog-tc1{height:6px; overflow:hidden; background:url(/css/wee/img/dialog_tc1.png) repeat-x; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_tc1.png"); _background:none;}
.weedialog .dialog-tl{position:absolute; left:0px; top:0px;width:11px; height:40px; background:url(/css/wee/img/dialog_tl.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_tl.png"); _background:none;}

.weedialog .dialog-tr{position:absolute; right:0px;top:0px;width:11px; height:40px; background:url(/css/wee/img/dialog_tr.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_tr.png"); _background:none;}
.weedialog .dialog-close{float:right;cursor:pointer;margin:8px 3px 0 0;	height:14px; width:14px; background:url(/css/wee/img/dialog_close1.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_close1.png"); _background:none;}
.weedialog .dialog-close:hover{background:url(/css/wee/img/dialog_close2.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_close2.png"); _background:none;}
.weedialog .dialog-content{clear:both; line-height:20px; padding:5px; background:#fff; text-align:left; overflow-y:auto; overflow-x:hidden;}
.weedialog .dialog-button{clear:both; background:#fff;}
.weedialog .dialog-cl{width:6px;background:url(/css/wee/img/dialog_con_lc.png); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_con_lc.png"); _background:none;}
.weedialog .dialog-cr{width:6px;background:url(/css/wee/img/dialog_con_rc.png); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_con_rc.png"); _background:none;}
.weedialog .dialog-button{text-align:right; font-size:12px; padding-right:6px; _padding-right:2px;}
.weedialog .dialog-ok{border:1px solid #33621D; background:url(/css/wee/img/btn_ok.gif) top #88B674; height:24px; line-height:24px; color:#fff;cursor:pointer; padding:0 5px; margin:0px; margin-right:3px;}
.weedialog .dialog-cancel{border:1px solid #999; background:url(/css/wee/img/btn_cancel.gif) top; height:24px; line-height:24px; color:#666;cursor:pointer; padding:0 5px; margin:0px;}
.weedialog .dialog-button-disabled{overflow:visible; overflow-y:hidden; border:1px solid #999; background:url(/css/wee/img/btn_cancel.gif) top; height:24px; line-height:24px; color:#666;cursor:pointer; padding:0 5px; margin:0px;}
.weedialog .dialog-bot{clear:both; height:11px; position:relative; font-size:0px;}
.weedialog .dialog-bl{position:absolute; left:0px; top:0px; width:11px; height:11px; background:url(/css/wee/img/dialog_bl.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_bl.png"); _background:none;}
.weedialog .dialog-bc{margin-left:11px; margin-right:11px; width:auto; height:11px; background:url(/css/wee/img/dialog_bc.png) repeat-x; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_bc.png"); _background:none;}
.weedialog .dialog-br{position:absolute; right:0px; top:0px; width:11px; height:11px; background:url(/css/wee/img/dialog_br.png) no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="scale", src="/css/wee//css/wee/img/dialog_br.png"); _background:none;}

.weealert .dialog-cancel{display:none;}

.weeselect li{float:left; width:120px;}
.weeselect .wsearch{width:100%;text-align:right;}

.weesuggest{width:160px;background:#ccc;}
.weesuggest .dialog-content{padding:5px;}
.weesuggest li{padding:0px;margin:0px;line-height:20px;cursor:pointer;border-bottom:1px dotted #bbb;}
*/.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	text-align: left;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month{width: 50px;} 
.ui-datepicker select.ui-datepicker-year { width: 80px;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-trigger { margin-left:5px;}
/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
* To view and modify this theme, visit http://jqueryui.com/themeroller/
*/


/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #407acf/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(/css/datapicker/blue/images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #76aeff/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(/css/datapicker/blue/images/ui-bg_highlight-soft_75_b6c9dc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #6998dc/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(/css/datapicker/blue/images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #4269a2/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(/css/datapicker/blue/images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #407acf/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(/css/datapicker/blue/images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight {border: 1px solid #6998dc/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(/css/datapicker/blue/images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error {border: 1px solid #4269a2/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(/css/datapicker/blue/images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(/css/datapicker/blue/images/ui-icons_2e83ff_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_2e83ff_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_2e83ff_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(/css/datapicker/blue/images/ui-icons_2e83ff_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/css/datapicker/blue/images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-top { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-right {  -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-left { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all { -moz-border-radius: 4px/*{cornerRadius}*/; -webkit-border-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(/css/datapicker/blue/images/ui-bg_flat_0_7cb1ff_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(/css/datapicker/blue/images/ui-bg_flat_0_7cb1ff_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; }