body {
	text-align:center;
	font-size:12px;
	color:#000;
	margin:0px;
} 
.webhead {
	width:1002px;
	margin:0px auto 0px auto;border:#000 solid 0px;
	background:#fff url(/images/webhead_background.jpg) repeat-x;
	height:56px;
}
.logo {
	float:left;width:183px;height:56px;
}
.webhead_menu {
	float:right;width:800px;border:#000 solid 0px;
	padding-top:20px;
}
.webbanner {
	width:1002px;height:155px;
	background:url(/images/webbanner.jpg) no-repeat;
	margin:0px auto 0px auto;border:#000 solid 0px;
}
.webbody {
	width:1002px;height:auto;
	margin:auto;
	background:#1B4764 url(/images/webbodybackground.jpg) repeat-y;text-align:center;
}
.webbodyhead {
	width:1002px;height:20px;
	background:#1B4764;
	margin:0px auto 0px auto;
	background:#1B4764 url(/images/webbodyheadbackground.jpg) no-repeat center 8px;
}
.webbodyfoot {
	width:1002px;height:20px;
	background:#1B4764;
	margin:0px auto 0px auto;border:#fff solid 0px;
	background:#1B4764 url(/images/webbodyfootbackground.jpg) no-repeat center top;
}
.webfoot {
	width:1002px;
	background:#EBEBEB;
	margin:0px auto 0px auto;
	font-weight:900;
	color:#545454;
	text-align:center;
	padding:16px 0px 16px 0px;
}
/*----------------------------------------------------------*/
.Indexuser {
	width:370px;height:238px;border:#000 solid 0px;
	background:url(/images/Indexuser.jpg) no-repeat;
	margin:0px auto 10px auto;
}
.Indexbulletin {
	width:550px;height:238px;border:#000 solid 0px;
	margin:8px 20px 10px 0px;
	background:url(/images/Indexbulletin.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.Indexknowledge {
	width:370px;height:238px;border:#000 solid 0px;
	margin:10px auto 10px auto;
	background:url(/images/Indexknowledge_content.jpg) no-repeat right bottom;
}
.Indexpro {
	width:550px;height:238px;border:#000 solid 0px;
	margin:8px 0px 10px 0px;
	background:url(/images/Indexpro.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.help {
	width:866px;height:160px;border:#000 solid 0px;
	margin:0px auto 10px auto;
	background:url(/images/help.jpg) no-repeat;
	padding:3px 0px 0px 0px;
}
.IndexTop {
	height:500px;width:1002px; margin:0px auto 0px auto;
}
.IndexLeft {
	float:left;width:415px;border:#000 solid 0px;
}
.IndexRight {
	float:right;width:580px;border:#000 solid 0px;
}
.Indexuser_img {
	float:left;margin:40px 10px 10px 20px;
}
.Indexuser_list {
	float:left;border:#000 solid 0px;padding-top:40px;
}
.Indexuser_title {
	background:url(/images/Indexuser_title.jpg) no-repeat;
	font-size:14px;color:#1B4764;border:#000 solid 0px;
	height:30px;text-align:left;
	padding-left:30px;padding-top:8px;
}
.Indexuser_content {
	color:#fff;
	padding:4px 0px 0px 0px;text-align:left;height:20px;border:#000 solid 0px;
}
.Indexuser_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 10px;
	margin-left: 40px;
	
}
.Indexknowledge_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#6BCE30;font-weight:900;text-align:left;padding-top:3px;
	border-bottom:#D5D5D5 solid 1px;
	margin:10px auto 0px auto;
	height:24px;
}
.Indexknowledge_title span{
	float:left;
}
.Indexknowledge_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-right:30px;
}
.Indexknowledge_content li {
	margin:10px 2px 10px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 1px;
}
.Indexknowledge_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}


.Indexbulletin_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:3px;
	border:#C7CCE9 solid 0px;
	margin:10px 10px 0px 10px;
	height:24px;
}
.Indexbulletin_title span{
	float:left;
}
.Indexbulletin_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-left:170px;
}
.Indexbulletin_content li {
	margin:13px 2px 13px 2px;color:#FFFFFF;
	list-style:url("/images/point.gif") outside none;
	border-bottom:#A9A9A9 dashed 0px;
}
.Indexbulletin_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}



.Indexpro_title {
	background:url(/images/point.jpg) no-repeat;
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:3px;
	border:#C7CCE9 solid 0px;
	margin:10px 10px 0px 10px;
	height:24px;
}
.Indexpro_title span{
	float:left;
}
/*
.Indexpro_content {
	maigin:10px auto 0px auto;
	text-align:left;padding-left:20px;border:#000 solid 0px;
}
*/
.Indexpro li {
	margin:13px 2px 13px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 0px;
	list-style:url("/images/point.gif") outside none;
}
.Indexpro_content span {
	color:#A9A9A9;font-size:12px;font-weight:100;
}


.help_title {
	padding-left:30px;font-size:14px;color:#FF9A40;font-weight:900;text-align:left;padding-top:25px;
	border:#C7CCE9 solid 0px;
	margin:10px 30px 0px 30px;
	height:24px;
}
.help_title span{
	float:left;
}
.help_content {
	maigin:0px auto 0px auto;
	text-align:left;padding-left:190px;border:#000 solid 0px;padding-top:0px;
}
.help li {
	margin:13px 2px 13px 2px;color:#A9A9A9;
	border-bottom:#A9A9A9 dashed 0px;
}
.help_content span {
	color:#000000;font-size:12px;font-weight:100;padding-left:10px;
}

/*--------------------------------------------------------*/
.listleft {
	float:left;width:250px;height:auto;text-align:right;
}
.listright {
	margin:0px 0px 0px 250px;border:#000 solid 0px;height:auto;text-align:left;width:740px;
	padding-left:20px;border-left:#D2D2D2 solid 1px;padding-bottom:120px;
}
.listuser {
	width:230px; height:101px;
	background:url(/images/listuser.jpg) no-repeat;border:#000 solid 0px;
	margin:0px 0px 0px auto;
	text-align:left;
}
.listuser_title {
	width:100%;padding-left:100px;border:#000 solid 0px;
	padding-bottom:5px;color:#FFF;padding-top:10px;font-size:14px;font-weight:900;
}
.listuser_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-left: 70px;
}
.listuser_content {
	width:100%;padding-left:80px;
	padding-top:2px; padding-bottom:2px;color:#fff;
}
.listmyposition {
	width:100%;
	height:30px;
}

positionpoint.listmyposition img {
	margin:0px 10px 0px 0px;
}
.listboxtitle {
	width:100%;
	font-size: 12px;
	font-weight: bold;
	color: #0073c8;
	background-image: url(/images/img/titlebj.gif);
	height: 25px !important;
	height: 30px;
	padding-top: 5px;
	margin-top: 5px;
	padding-left: 8px;
}
.listboxform {
	margin:10px 0px 10px 0px;
}
.listboxform table{
	text-align: left;
}

.listboxform table tr td {
	border: 1px solid #bcd2e9;
	padding:4px;
	font-size: 12px;
	font-weight: normal;
	color: #628bb1;
}
.listboxform .input_label{
	text-align:center;
}

.listboxlist {
	padding:0px;
}
.listmenu {
	text-align:left;border:#f00 solid 0px;padding-left:40px;
	background:url(/images/stmyname.jpg) no-repeat center top;
}
.listmenu_title {
	width:171px;border:#000 solid 0px;
	color:#ffffff;font-size:13px;margin:0px auto 0px auto;
	padding-top:15px; padding-bottom:13px;text-align:left;padding-left:24px;
}
/*-------------------------------------------------*/
.messageshow {
	font-size:12px;padding-top:10px;padding-bottom:10px;
}
.messageshow ul {
	padding-left:30px;
}
.messageshow li {
	padding-top:3px;padding-bottom:3px;
}
.messageshowbutton {
	text-align:left;padding-top:10px;padding-bottom:5px;border-top:#ECEAEA solid 1px;margin-right:20px;text-align:right;
}
.openwindow {
	width:100%;border:#FFFFFF solid 1px; text-align:left;padding-left:20px;
}
.abwindow {
	position:absolute;width:450px; height:400px;z-index:100;
	border:#CCCCCC solid 1px;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=3, Color=D7D7D7, Positive=true); 
}
.scanbody {

	width:1002px;height:auto;
	margin:auto;padding-bottom:20px;text-align:center;
}
.scantitle {
	border:#000 solid 0px;
	font-size:14px;
	color:#0073C8;
	font-weight:900;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	background-image: url(/images/positionpoint.jpg);
	background-repeat: no-repeat;
	background-position: 8px;
	text-align: left;
}
.scanpointbj{
	background-image: url(/images/scanbj.gif);
	background-repeat: repeat-x;
	height: 26px;
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	list-style-position: inside;
	list-style-image: url(bdian.gif);
}
.scanpoint{
	background-image: url(/images/scanpoint.gif);
	background-repeat: no-repeat;
	float: left;
	height: 21px;
	width: 26px;
	list-style-type: none;
}
.scantitlename {
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #18427c;
	float: left;
	list-style-type: none;
	list-style-position: inside;
	line-height: 23px;
	margin-top: 3px;
	margin-left: 4px;
}
.scan_botton {
	background:url(/images/quitbutton.GIF) no-repeat;
	font-size: 12px;
	font-weight: normal;
	color: #1165AD;
	height: 22px;
	width: 57px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin-top: 10px;
	margin-left: 40px;
	
}.registrytitle {
	text-align: left;
	font-weight: bold;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
}
.areatitlebackground{
	background-image: url(/images/scanbj.gif);
	background-repeat: repeat-x;
	height: 26px;
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	list-style-position: inside;
	list-style-image: url(bdian.gif);width:96%;margin-top:4px;
}