.bj {
	background-image: url(../images/image_top/bj.GIF);
	background-repeat: repeat-x;
	height: 66px;
	width: 100%;
}
.top_right {
	background-repeat: no-repeat;
	background-position: right;
	float: right;
	height: 66px;
	width: 170px;
}
.pt {
	position:relative;top:-2px;cursor:hand;
}

.top_left {
	background-image: url(../images/image_top/logo.GIF);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	height: 66px;
	width: 165px;
}
.top_guanli {
	font-family: "ו";
	font-size: 12px;
	color: #001F60;
	float: left;
	margin-top: 35px;
	margin-left: 0px;
	width:610px;
	overflow:hidden;
}
.top_yonghu {
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
.top_city_choose{
	background-repeat: no-repeat;
	background-position: -150px right;
	float: right;
	height: 33px;
	width: 85px;
}
