.bj {
	background-attachment: fixed;
	background-image: url(../../images/image-top/bj.GIF);
	background-repeat: repeat-x;
	height: 66px;
	width: 100%;
}
.top_right {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	float: right;
	height: 66px;
	width: 238px;
}

.top_left {
	background-attachment: fixed;
	background-image: url(../../images/image-top/logo.GIF);
	background-repeat: no-repeat;
	background-position: left;
	float: left;
	height: 66px;
	width: 133px;
}
.top_guanli {
	font-family: "ו";
	font-size: 12px;
	font-weight: bold;
	color: #001F60;
	float: left;
	margin-top: 38px;
	margin-left: 80px;
}
.top_yonghu {
	font-size: 12px;
	font-weight: bold;
	color: #0033CC;
	float: left;
	margin-top: 38px;
	margin-left: 10px;
}
