<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="hibernate.connection.password">
			basesys
		</property>
		<property name="hibernate.connection.url">
			jdbc:oracle:thin:@192.168.21.10:1521:base
		</property>
		<property name="hibernate.connection.username">
			basesys
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.Oracle9Dialect
		</property>
		<mapping
			resource="com/gmcc/pboss/model/sales/FxSwOrder.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/wayapply/ChPwWayapply.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/wayapply/SaDbBank.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/biz/info/node/model/ChPwWayaccount.hbm.xml" />
		<mapping resource="./WayAccount.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/constant/IbGlSysparam.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/wayapply/ChPwWayapplylog.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/employee/ChPwEmployeeapplylog.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/reward/rewardlocal/ChPwRewardlocal.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/reward/rewardlocal/ChPwRewardlocaldtl.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/reward/rewardlocal/ChPwRewardlocaltitle.hbm.xml" />
		<mapping
			resource="com/gmcc/pboss/model/reward/rewardlocal/ChPwRewardlocalvalue.hbm.xml" />
	</session-factory>
</hibernate-configuration>